p, span {
    font-size: 1em;
}

.p1 {
    background-color: lightblue;
    width: 400px;
    height: 100px;
}

.p2 {
    background-color: lightgreen;
}

.s1 {
    background-color: orange;
    width: 400px;
    height: 100px;
}

.s2 {
    background-color: yellow;
}

.d1 {
    width: 50%;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
}

.d2 {
    width: 400px;
    height: 200px;
    border: 1px solid black;
}

.p3 {
    background-color: lightblue;
    width: 400px;
    height: 100px;
}

.p4 {
    background-color: lightgreen;
    width: 100%;
    height: 25%;
}

.p5 {
    background-color: orange;
    width: 200px;
    height: 50px;
}

.p6 {
    background-color: yellow;
    width: 50%;
    height: 25%;
}

.d3 {
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

.p7 {
    background-color: lightblue;
    width: 200px;
    height: 60px;
    overflow: scroll;
}

.p8 {
    background-color: lightgreen;
    width: 100%;
    height: 25%;
}

.d4 {
    width: 50%;
    height: 200px;
    border: 1px solid black;
}

.p9 {
    background-color: lightblue;
    width: 100%;
    height: 50%;
    border: 10px solid purple;
}

.p10 {
    background-color: lightgreen;
    width: 100%;
    height: 25%;
    padding: 20px;
    margin: 10px;
}

.paragraphe1 {
    background-color: lightgreen;
    border: 1px solid black;
    width: 200px;
    padding: 20px;
    margin: 20px 10px;
}

.p12, .p13, .p14 {
    height: 50px;
}

.p11 {
    border-width: 5px;
    border-style: solid;
    border-color: #09C;
}

.p12 {
    padding: 20px;
    border: 15px double #09C;
}

.p13 {
    padding: 10px 50px 10px 100px;
    background-color: #0C9;
    border: 5px ridge #09C;
}

.p14 {
    padding-left: 100px;
    padding-bottom: 20px;
    background-color: #0C9;
    border: 5px outset #09C;
}

.ligne1 {
    background-color: orange;
}

.s3 {
    padding: 10px;
}

.titre2 {

}

body {
    margin: 0;
}

.paragraphe2 {
    margin: 0;
    background-color: #0EA;
}

.p21 {
    margin: 10px 20px 30px 40px;
}


.p22 {
    margin: 20px;
}

.s21 {
    margin: 100px;
    background-color: yellow;
}

.p23 {
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.p24 {
    margin: 10px 50px;
}

.conteneur2 {
    background-color: #0AE;
    margin: 20px 0;
}

.p25 {
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.p26 {
    margin-bottom: 40px;
    text-align: center;
    margin: 0 auto;
}

.bordure {
    border: 1px solid black;
}

.d5 {
    width: 80%;
    background-color: #777;
    border: 1px solid black;
}

.paragraphe3 {
    width: 100%;
    background-color: #0CC;
    padding: 20px;
    border: 10px solid black;
}

.p32 {
    box-sizing: content-box;
}

.p33 {
    box-sizing: border-box;
}

.d6 {
    width: 80%;
    margin: 20px auto; /*Centre les div dans la page*/
    background-color: #777; /*Fond gris*/
}

.paragraphe4 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center; /*Texte centré horizontalement*/
    line-height: 100px; /*Texte centré verticalement*/
    background-color: #0CC; /*Fond bleu vert*/
}

.bordure {
    border: 2px solid black;
}

.arrondi1 {
    border-radius: 100px / 20px;
}

.arrondi2 {
    border-radius: 50px; /*Identique à border-radius: 50px/50px*/
}

.arrondi3 {
    border-radius: 25%; /*Identique à border-radius: 25%/25%*/
}

.carre {
    width: 200px;
    height: 200px;
}

.carre p {
    line-height: 200px;
}

.arrondi4 {
    border-radius: 50%;
}

.arrondi5 {
    border-radius: 25% / 50%;
}


.arrondi6 {
    border-radius: 50px 25px;
}

.arrondi7 {
    border-radius: 50px 25px / 50px 25px;
}

.arrondi8 {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.arrondi9 {
    border-radius: 100px 30px/50px 70px;
}

.arrondi10 {
    border-radius: 40px 100px 10px/ 50px 70px;
}

.arrondi11 {
    line-height: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 40px 80px;
    border-top-right-radius: 100px 10px;
}

.arrondi12{
    border-radius : 100px 250px 200px 300px / 10px 30px 70px 80px;
}
.arrondi13{
    border-radius : 80px 200px 160px 240px / 8px 24px 56px 64px;
}